<header class="header">
  <a title="Web de Adalab" class="logo" href="https://adalab.es/"><img src="./assets/images/adalab-logo-155x61.png" title="Logo de Adalab" alt="Logo de Adalab"></a>
  <nav>
      <ul class="menu">
          <li>
              <a title="Web de Adalab" class="menu_item item_1" href="https://adalab.es/">Blog</a>
            </li>
          <li>
              <a title="Web de Adalab" class="menu_item" href="https://adalab.es/">Contacto</a>
            </li>
      </ul>
  </nav>
</header>
